.dub
docs.json
__dummy.html
docs/
/sponskrub
sponskrub.so
sponskrub.dylib
sponskrub.dll
sponskrub.a
sponskrub.lib
sponskrub-test-*
/youtube-dl-sponsorblock
youtube-dl-sponsorblock.so
youtube-dl-sponsorblock.dylib
youtube-dl-sponsorblock.dll
youtube-dl-sponsorblock.a
youtube-dl-sponsorblock.lib
youtube-dl-sponsorblock-test-*
*.exe
*.o
*.obj
*.lst
*.mp4
*.mkv
*.webm
*.ffm
