.dub
docs.json
__dummy.html
docs/
/sponskrub
sponskrub.so
sponskrub.dylib
sponskrub.dll
sponskrub.a
sponskrub.lib
sponskrub-test-*
/ydl
ydl.so
ydl.dylib
ydl.dll
ydl.a
ydl.lib
ydl-test-*
*.exe
*.o
*.obj
*.lst
*.mp4
*.ffm
